#ratingForm{
    display:none;
}

.rating {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}
  
.stars {
    cursor: pointer;
    color: white;
}
  
section {
    background-color: lightgrey;
    padding: 0.5rem;
}

html {
    background-color: darkgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
legend {
    font-size: 1.2rem;
    margin: 0.5rem;
}

